<!DOCTYPE html>
<html>

<head>
  <title>MASTODON</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

<!-- Header -->
    <header>
        <a href="/"> <img src="../images/uts-logo.png" alt="UTS logo" class="logo"> </a>
        <ul class="nav nav-pills pull-right topNav">
            {{#if user }}
                <li role="presentation">
                    <a href="/">Dashboard</a>
                </li>

                <li role="presentation">
                    <a href="/users/logout">Logout</a>
                </li>
            {{else}}
                <li role="presentation">
                    <a href="/users/login">Login</a>
                </li>
                <li role="presentation">
                    <a href="/users/register">Register</a>
                </li>
            {{/if}}
        </ul>
    </header>

    <!-- Navigation -->
    <nav>
        <ul class="nav justify-content-center topNav">

            <li class="nav-item">
                <a class="nav-link active" href="#">Future students</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Current students</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Research and teaching</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Partners and community</a>
            </li>

        </ul>
    </nav>

  <div class="container-fluid containerPadding">
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

          {{{body}}}

      </div>
    </div>
  </div>


    <!-- Footer -->
    <footer>
      <ul class="nav justify-content-center">
          <a href="">About UTS</a>
          <a href="">Library</a>
          <a href="">Newsroom</a>
          <a href="">Staff</a>
          <a href="">Contact us</a>
      </ul>
        <p class="copyright">&copy; 2018 MASTODON, Inc.</p>
    </footer>

</body>

</html>
