<!DOCTYPE html>
<html>

<head>
  <title>MASTODON</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

<!-- Header -->
    <header>
        <a href="/"> <img src="../images/uts-logo.png" alt="UTS logo" class="logo"> </a>
        <ul class="nav nav-pills pull-right">
            {{#if user }}
                <li class="topNav marginbtn" role="presentation">
                    <a href="/">Dashboard</a>
                </li>

                <li role="presentation">
                    <a href="/profile"> <img src="../images/userPic.png" class="profileImageDashboard"> </a>
                </li>

            {{else}}
                <li role="presentation">
                    <a href="/users/login">Login</a>
                </li>
                <li role="presentation">
                    <a href="/users/register">Register</a>
                </li>
            {{/if}}
        </ul>
    </header>

    <!-- Navigation -->
    <nav>
        <ul class="nav justify-content-center topNav">

            <li class="nav-item">
                <a class="nav-link active" href="#">Future students</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Current students</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Research and teaching</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Partners and community</a>
            </li>

        </ul>
    </nav>

  <div class="container-fluid containerPadding">
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

          <!-- Left side bar -->
          {{#if user}}
                {{#if isDoctor}}
                    <aside class="col-lg-4 col-mg-12 col-sm-12">
                        <div class="control-panel">
                            <h4> DOCTOR CONTROL PANEL </h4>
                            <hr class="line">

                            <ul class="nav flex-column list-features">

                                <li class="nav-item">
                                    <a class="nav-link on-page" href="/viewAppointments"> View Appointments </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/myAvailability"> My Availability </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/uploadPrescriptions">Upload Prescriptions</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/editDetails">Edit personal details</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/changePassword">Change password</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/users/logout">Log out</a>
                                </li>

                            </ul>
                        </div>
                    </aside>

                {{else if isStudent}}
                    <aside class="col-lg-4 col-mg-12 col-sm-12">
                        <div class="control-panel">
                            <h4> STUDENT CONTROL PANEL </h4>
                            <hr class="line">

                            <ul class="nav flex-column list-features">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Book appointments</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/viewDoctors">View Doctors</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">View status</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Send enquiry</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/editDetails">Edit personal details</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/changePassword">Change password</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/users/logout">Log out</a>
                                </li>

                            </ul>
                        </div>
                    </aside>

                {{else if isAdmin}}
                    <aside class="col-lg-4 col-mg-12 col-sm-12">
                        <div class="control-panel">
                            <h4> ADMIN CONTROL PANEL </h4>
                            <hr class="line">

                            <ul class="nav flex-column list-features">

                                <li class="nav-item">
                                    <a class="nav-link" href="/viewDoctors">View Doctors</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">View Patients</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Manage</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/editDetails">Edit personal details</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/changePassword">Change password</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/users/logout">Log out</a>
                                </li>

                            </ul>
                        </div>
                    </aside>

                {{else}}
                    <div class="alert alert-danger">
                        <span> There was an error trying to display the correct control panel, please login again. </span>
                    </div>

                    <aside class="col-lg-4 col-mg-12 col-sm-12">
                        <div class="control-panel">
                            <h4> CONTROL PANEL </h4>
                            <hr class="line">

                            <ul class="nav flex-column list-features">

                                <li class="nav-item">
                                    <a class="nav-link" href="/viewDoctors">View Doctors</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/editDetails">Edit personal details</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/changePassword">Change password</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/users/logout">Log out</a>
                                </li>

                            </ul>
                        </div>
                    </aside>
                {{/if}}

          {{/if}}

          {{{body}}}

      </div>
    </div>
  </div>


    <!-- Footer -->
    <footer>
      <ul class="nav justify-content-center">
          <a href="">About UTS</a>
          <a href="">Library</a>
          <a href="">Newsroom</a>
          <a href="">Staff</a>
          <a href="/contactus">Contact us</a>
      </ul>
        <p class="copyright">&copy; 2018 MASTODON, Inc.</p>
    </footer>

</body>

</html>
