<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">

            <!-- TABLE -->
            <div class="panel panel-default panel-table mytable">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title tableheading">Book Appointment</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">

                        <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        
            {{#each avail}}            
			            <tr>
				                <td>{{this.doctor}}</td>
                                <td>{{this.appointment.date}}</td>
                                <td>{{this.appointment.time}}</td>
				                <td>30 mins</td>
                                {{#if this.appointment.booked}}
                                    {{#ifEquals this.appointment.student "{{user.name}}"}}
                                        <td bgcolor="#e5f442">Booked by you</td>
                                    {{else}}
                                        <td bgcolor="#ff5e5e">Booked</td>
                                     {{/ifEquals}}
                                {{else}}
                                    <td bgcolor="#99ff99"><a href="/bookAppointments/{{this.id}}">Book</a></td>
                                {{/if}}
			</tr>
            {{/each}}
                        

                        
                    </table>
                </div>
            </div>
            <!-- TABLE END -->

        </section>
    </div>
</main>
