<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
            {{#if user}}
                <h1> Hi, {{user.name}}! </h1>
            {{/if}}

            <!-- TABLE -->
            <div class="panel panel-default panel-table mytable">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title tableheading">View Availability</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">

                        <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        {{#each availability}}
                            <tr>
                                <td><a href="/profile?s={{this.appointment.studentId}}&d={{this.doctorId}}">{{this.appointment.student}}</a></td>
                                <td>{{this.appointment.date}}</td>
                                <td>{{this.appointment.time}}</td>
                                <td>30 mins</td>
                                {{#if this.appointment.booked}}
                                    <td>Booked</td>
                                {{else}}
                                    <td>Not booked</td>
                                {{/if}}
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- TABLE END -->

        </section>
    </div>
</main>
